<div class="row p-3">
    <div class="col-12">
        <div class="row align-items-center pb-5">
            <div class="col-6 d-flex justify-content-start">
                <app-title>
                    &nbsp; > &nbsp; {{ image.title }}
                </app-title>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <div class="row align-items-center">
                    <div class="col-auto d-flex justify-content-end">

                        <button type="button" class="btn btn-sm" (click)="addToFavorites(image.id)"
                            [ngClass]="image.favorite ? 'btn-secondary' : 'btn-outline-secondary'">
                            {{ image.favorite ? 'Remove from favorite' : 'Add to favorite' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-3">
                <img class="images" [src]="image.url" />
            </div>
            <div class="col-12 d-flex justify-content-center">
                {{ image.description }}
            </div>
        </div>
    </div>
</div>