<div class="row p-3">
    <div class="col-12">
        <div class="row align-items-center pb-3">
            <div class="col-6 d-flex justify-content-start">
                <app-title></app-title>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <div class="row align-items-center">
                    <div class="col-auto d-flex justify-content-start">

                        <button type="button" class="btn btn-sm" (click)="toggleFavorites()"
                            [ngClass]="favorites ? 'btn-secondary' : 'btn-outline-secondary'">
                            Favorites
                        </button>
                    </div>
                    <div class="col d-flex justify-content-end">

                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" [(ngModel)]="searchedText" (change)="getImageList()"
                            placeholder="Search here...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center pb-3">
            <div class="col-12 d-flex justify-content-start">
                Images: {{ images.length }} / {{ allImagesCount }}
            </div>
        </div>
        <div class="row">
            <div class="col-4 pb-3" *ngFor="let image of images">
                <div class="row align-items-center">
                    <div class="col-12 d-flex justify-content-center">
                        <img class="images cursor-pointer" [src]="image.thumbnail" (click)="goToPreview(image.id)" />
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <div class="row justify-content-between py-1">
                            <div class="col d-flex justify-content-start">
                                {{ image.title }}</div>
                            <div class="col-auto svg-container">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" class="svg"
                                    xmlns="http://www.w3.org/2000/svg" (click)="addToFavorites(image.id)"
                                    class="cursor-pointer">
                                    <path
                                        d="M6 0L7.1459 4.01525L11.1962 3L8.2918 6L11.1962 9L7.1459 7.98475L6 12L4.8541 7.98475L0.803848 9L3.7082 6L0.803848 3L4.8541 4.01525L6 0Z"
                                        [ngClass]="image.favorite ? 'fill-black' : 'fill-gray'" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>