@import "~bootstrap/dist/css/bootstrap.css";

.cursor-pointer {
    cursor: pointer;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .fill-black {
    fill: #181818; 
  }
  .fill-gray {
    fill: #A9A9A9; 
  }

  .svg-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.svg {
  margin: 0 auto;
  display: block;
}

body {
    height: 100vh;
}